<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cspoint.radheshyam">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.cspoint.radheshyam.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.cspoint.radheshyam.ui.PresCartActivity"
            android:exported="true" />
        <activity android:name="com.cspoint.radheshyam.ui.ForgotActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.NotificationActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.ChanegPasswordActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.SearchActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.PrivacyPolicyActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.TramandconditionActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.ContactActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.AboutActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.UploadPrescriptionActivity" />
        <activity android:name="com.cspoint.radheshyam.locationpick.LocationGetActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.OrderDetailsActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.PrescriptionOrderDetailsActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.OrderActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.PrescriptionOrderActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.SettingActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.ProfileActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.EditProfileActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.LoginActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.VerifyPhoneActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.CompleOrderActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.PaymentOptionActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.CartActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.AddressActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.ProductDetailsActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.HomeActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.CoupunActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.RazerpayActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.PaypalActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.StripPaymentActivity" />
        <activity android:name="com.cspoint.radheshyam.ui.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cspoint.radheshyam.ui.ImagePreviewActivity"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>